html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: $white;
    overflow: hidden;
    color: $black;
    font-family: $samsung-one-regular;
    font-size: $base-font-size;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
