@font-face {
    font-family: 'SamsungOneUI 200';
    src: url('../fonts/SamsungOneUI-200.woff') format('woff'),
    url('../fonts/SamsungOneUI-200.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneUI 300';
    src: url('../fonts/SamsungOneUI-300.woff') format('woff'),
    url('../fonts/SamsungOneUI-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneUI 400';
    src: url('../fonts/SamsungOneUI-400.woff') format('woff'),
    url('../fonts/SamsungOneUI-400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneUI 500';
    src: url('../fonts/SamsungOneUI-500.woff') format('woff'),
    url('../fonts/SamsungOneUI-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneUI 600';
    src: url('../fonts/SamsungOneUI-600.woff') format('woff'),
    url('../fonts/SamsungOneUI-600.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneUI 700';
    src: url('../fonts/SamsungOneUI-700.woff') format('woff'),
    url('../fonts/SamsungOneUI-700.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
